
.icon{
	float: right;
	margin-right: 19px;
	margin-top: -5px;
}


ul {
    list-style-type: none;
}

li {
    display: inline;
    float: right;
    font-size: 13px;
    font-family: arial;
    padding: 2px;
    margin-right: 13px;
    margin-top: 3px;
}

